header {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    color: navajowhite;
    border: 1px solid blue;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



#active {
  background-color: #4CAF50;
}

body {
    background-color: floralwhite;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    font-family: sans-serif;
     
}


footer {
  
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
   position: fixed;
    
}

body {
  height: 100%;
  margin: 0;
}



.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}


.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #white;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: right;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}




P {
    padding: 10px;
    border: 10px;
}

section1 {
    width: 400px;
  height: 100px;
  border: 1px solid blue;

}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {font-family: Arial, Helvetica, sans-serif;}
 

header p{
    position: relative;
    top: 10px;
    font-style: italic;
    text-align: center;
    
}

.required {
    font-weight: bold;
    color: red;
}

label {
    float: left;
    width: 112px;
    padding-right: 10px;
    text-align: right;
}

input {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}

input [type ="radio"]
{
    width: 10px;
}

input[type="checkbox"] 
{
    width: 15px;
}




#button ,#reset {
    top margin: .5em;
    width: 8em;
    background: orange;
    border: 2px solid black;
}

#reset {
    top margin: .5em;
    
    
}

em {
    font: italic;
    display: bold solid red;
    left margin: .5px;
}

body {
    font-family: sans-serif;
    background background-image:url(../images/Saint_Peters.jpg);
    margin: 10px;
    
}



#button {
    left margin: 138px;
}

aside {
  display: block;
}



#content{
    
    width: 80% ;
    border: 2px;
    border-bottom-color: blue;
    margin: 2px;




