header {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    color: navajowhite;
    border: 1px solid blue;
    
}


ul {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



#active {
  background-color: #4CAF50;
}

body {
    
        background-image: url(../images/ubuntu-785622_1280.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        width: 100%;
        
        
       
}


footer {
  
    
  
    left: 0;
    bottom: 0;
    width: 100%;
    background: ;
    color: white;
    text-align: right;
    position:fixed;
    
    
        
   
    
    
}

body {
  height: 100%;
  margin: 0;
}



.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}


.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #white;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: right;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}




P {
    padding: 10px;
    border: 10px;
}

section1 {
    width: 400px;
  height: 100px;
  border: 1px;

}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {font-family: Arial, Helvetica, sans-serif;}
 

header p{
    position: relative;
    top: 10px;
    font-style: italic;
    text-align: center;
    
}

.required {
    font-weight: bold;
    color: red;
}

label {
    float: left;
    width: 112px;
    padding-right: 10px;
    text-align: right;
}

input, textarea {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}

input [type ="radio"]
{
    width: 10px;
}

input[type="checkbox"] 
{
    width: 15px;
}




#button ,#reset {
    top margin: .5em;
    width: 8em;
    background: orange;
    border: 2px solid black;
}

#reset {
    top margin: .5em;
    
    
}

em {
    font: italic;
    display: bold solid red;
    left margin: .5px;
}

body {
    font-family: sans-serif;
    background background-image:url(../images/Saint_Peters.jpg);
    margin: 10px;
    
}



#button {
    left margin: 138px;
}

aside {
  display: block;
    float: left;
}



#content{
    
    width: 80% ;
    border: 2px;
    border-bottom-color: blue;
    margin: 2px;
    
}

#customers {
  font-family:sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}








iframe {
    float: left;
    padding: 20;
    margin: 5px;
}

#sectionMine {
  border: 1px ;
  margin: 3px 50px 75px 500px;
   
    


}

#buttions {
margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 80px;
    
}

#sectionMine1 {
    
  margin: 3px 50px 75px 500px;
    
}

#bigPic {
    margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 80px;
    max-width: 90%;
     
}

nav {
    margin: 2px;
    border: 2px;
}

section {
    
    padding: 5px;
    margin: 2px;
}

main {
    margin: 2px;
    padding-bottom: 100px;
}



.mypic {
    
    padding: 12px;
}

#table {
    
    padding: 12px;
}




.mySlides {
     margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 80px;
     {display:none;}
}

sectiona {
     margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 80px;
}

--------------------------
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }




#maps {
    width: 100%;
}

#topPage
{
    color: #4CAF50;
}

.numList {
    padding-bottom: 30px;
        
}

.logos {
    padding: 10px;
}

.newbit {
     padding: 5px;
    margin: 2px;
}

#video {
    margin: 2px;
}

.newspaper {
    padding: 5px;
    margin: 2px;
}

#new section {
    padding: 5px;
    margin: 2px;
    bottom margin: 20px;
}

.color {
    color: green;
}

.video {
    padding: 3px;
    margin: 2px;
}
